[report]
show_missing = True
omit =
    */python?.?/*
    */site-packages/nose/*
    ipwhois/data/*
    ipwhois/docs/*
    ipwhois/examples/*
    ipwhois/scripts/*
    ipwhois/tests/*
    ipwhois/hr.py
